/*
   Bootstrap backend styles shared with Bootswatch Readable theme
*/

.jumbotron-fullwidth   {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 2em;
}

dt .label {
    display: block;
    text-align: right;
}

.imageblock .title {
    background-color: #333;
    color: #fff;
}

div.imageblock {
    margin-left: 4%;
    margin-right: 4%;
}

/*
    Admonition Blocks
 */
 
.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border: 0;
}
.admonition .icon {
    float: left;
    font-size: 3em;
}
.admonition .icon .title{
    font-size: 1em;
    margin: 0;
}
.admonition .content {
    padding-left: 0.5em;
    margin-left: 4em;
    border-left: 3px solid #DDDDDD;
    min-height: 4em;
}

/* Admonition blocks using Font-Awesome */

.note .icon .fa:before{
    content: "\f05a";  /* fa-info-circle */
}
.tip .icon .fa:before{
    content: "\f0eb";  /* fa-lightbulb-o */
}
.warning .icon  .fa:before{
    content: "\f071";  /* fa-exclamation-triangle */
}
.caution .icon  .fa:before{
    content: "\f06a";  /* fa-exclamation-circle */
}
.important .icon  .fa:before{
    content: "\f056";  /* fa-minus-circle */
}
